[submodule "lib/DisplayCore"]
	path = lib/DisplayCore
	url = git@github.com:DisplayCore/DisplayCore.git
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "lib/ushell"]
	path = lib/ushell
	url = git@github.com:matthiasbock/ushell.git
[submodule "lib/BD663474"]
	path = lib/BD663474
	url = git@github.com:DisplayCore/BD663474.git
[submodule "lib/XPT2046"]
	path = lib/XPT2046
	url = git@github.com:DisplayCore/XPT2046.git
